<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quantum Computing Tasks</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.6.4/dist/vuetify.min.css">
    <style>
    </style>
</head>

<body>
    <div id="app">
        <v-container>
            <v-card>
                <v-card-title>DQPU Job List</v-card-title>
                <v-card-subtitle>This list shows all the quantum sampling jobs of the DQPU smart contract on NEAR
                    blockchain.</v-card-subtitle>
                <v-card-text>
                    <div class="d-flex justify-space">
                        <v-card class="mx-1" flat>
                            <v-card-text>
                                <div class="d-flex align-center">
                                    <v-icon class="mr-3">fas fa-wallet</v-icon>
                                    <div class="font-weight-bold display-1">{{ (amount_handled
                                        /1000000000000000000000000).toFixed(4) }} N</div>
                                    <div class="text-caption ml-3">Amount Handled</div>
                                </div>
                            </v-card-text>
                        </v-card>
                        <v-card class="mx-1" flat>
                            <v-card-text>
                                <div class="d-flex align-center">
                                    <v-icon class="mr-3">fas fa-tasks</v-icon>
                                    <div class="font-weight-bold display-1">{{ n_jobs }}</div>
                                    <div class="text-caption ml-3">Total Jobs</div>
                                </div>
                            </v-card-text>
                        </v-card>
                        <v-card class="mx-1" flat>
                            <v-card-text>
                                <div class="d-flex align-center">
                                    <v-icon class="mr-3">fas fa-user-check</v-icon>
                                    <div class="font-weight-bold display-1">{{ n_verifiers }}</div>
                                    <div class="text-caption ml-3">Verifiers</div>
                                </div>
                            </v-card-text>
                        </v-card>
                        <v-card class="mx-1" flat>
                            <v-card-text>
                                <div class="d-flex align-center">
                                    <v-icon class="mr-3">fas fa-money-check</v-icon>
                                    <div class="font-weight-bold display-1">{{((amount_handled/n_jobs)
                                        /1000000000000000000000000).toFixed(4)}} N</div>
                                    <div class="text-caption ml-3">Average Job Price</div>
                                </div>
                            </v-card-text>
                        </v-card>
                    </div>

                    <div class="d-flex justify-space">
                        <v-card class="mx-1" flat>
                            <v-card-text>
                                <div class="d-flex align-center">
                                    <v-icon class="mr-3" :color="statusIcon('pending-validation').color"
                                        :icon="statusIcon('pending-validation').icon"></v-icon>
                                    <div class="font-weight-bold display-1">{{ job_stats['pending-validation'] }}</div>
                                    <div class="text-caption ml-3">Pending Validation</div>
                                </div>
                            </v-card-text>
                        </v-card>

                        <v-card class="mx-1" flat>
                            <v-card-text>
                                <div class="d-flex align-center">

                                    <v-icon class="mr-3" :color="statusIcon('waiting').color"
                                        :icon="statusIcon('waiting').icon"></v-icon>
                                    <div class="font-weight-bold display-1">{{ job_stats['waiting'] }}</div>
                                    <div class="text-caption ml-3">Waiting</div>
                                </div>
                            </v-card-text>
                        </v-card>

                        <v-card class="mx-1" flat>
                            <v-card-text>
                                <div class="d-flex align-center">

                                    <v-icon class="mr-3" :color="statusIcon('validating-result').color"
                                        :icon="statusIcon('validating-result').icon"></v-icon>
                                    <div class="font-weight-bold display-1">{{ job_stats['validating-result'] }}</div>
                                    <div class="text-caption ml-3">Validating Result</div>
                                </div>
                            </v-card-text>
                        </v-card>



                        <v-card class="mx-1" flat>
                            <v-card-text>
                                <div class="d-flex align-center">
                                    <v-icon class="mr-3" :color="statusIcon('executed').color"
                                        :icon="statusIcon('executed').icon"></v-icon>
                                    <div class="font-weight-bold display-1">{{ job_stats['executed'] }}</div>
                                    <div class="text-caption ml-3">Executed</div>
                                </div>
                            </v-card-text>
                        </v-card>

                        <v-card class="mx-1" flat>
                            <v-card-text>
                                <div class="d-flex align-center">

                                    <v-icon class="mr-3" :color="statusIcon('invalid').color"
                                        :icon="statusIcon('invalid').icon"></v-icon>
                                    <div class="font-weight-bold display-1">{{ job_stats['invalid'] }}</div>
                                    <div class="text-caption ml-3">Invalid</div>
                                </div>
                            </v-card-text>
                        </v-card>
                    </div>

                    <v-data-table :items="jobs">
                        <template v-slot:header.owner_id>Owner</template>
                        <template v-slot:header.verifier_id>Verifier</template>
                        <template v-slot:header.sampler_id>Sampler</template>
                        <template v-slot:header.reward_amount>Reward</template>
                        <template v-slot:header.sampler_deposit>Deposit</template>
                        <template v-slot:header.job_file>Job</template>
                        <template v-slot:header.result_file>Result</template>

                        <template v-slot:item.reward_amount="{ item }">
                            {{(item.reward_amount/1000000000000000000000000).toFixed(4)}} N
                        </template>

                        <template v-slot:item.sampler_deposit="{ item }">
                            {{(item.sampler_deposit/1000000000000000000000000).toFixed(4)}} N
                        </template>

                        <template v-slot:item.qubits="{ item }">
                            <v-chip color="green">{{item.qubits}}</v-chip>
                        </template>

                        <template v-slot:item.shots="{ item }">
                            <v-chip color="primary">{{item.shots}}</v-chip>
                        </template>

                        <template v-slot:item.depth="{ item }">
                            <v-chip color="yellow">{{item.depth}}</v-chip>
                        </template>

                        <template v-slot:item.status="{ item }">
                            <v-icon :color="statusIcon(item.status).color"
                                :icon="statusIcon(item.status).icon"></v-icon>
                        </template>

                        <template v-slot:item.owner_id="{ item }">
                            <a :href="'https://testnet.nearblocks.io/address/' + item.owner_id" target="_blank">
                                <v-icon icon="fa fa-user"></v-icon>
                            </a>
                        </template>

                        <template v-slot:item.verifier_id="{ item }">
                            <a v-if="item.verifier_id"
                                :href="'https://testnet.nearblocks.io/address/' + item.verifier_id" target="_blank">
                                <v-icon icon="fa fa-user"></v-icon>
                            </a>
                        </template>

                        <template v-slot:item.sampler_id="{ item }">
                            <a v-if="item.sampler_id" :href="'https://testnet.nearblocks.io/address/' + item.sampler_id"
                                target="_blank">
                                <v-icon icon="fa fa-user"></v-icon>
                            </a>
                        </template>

                        <template v-slot:item.result_file="{ item }">
                            <a :href="'http://localhost:8080/ipfs/' + item.result_file" target="_blank" v-if="item.result_file">
                                <v-icon icon="fa fa-file"></v-icon>
                            </a>
                        </template>
                        <template v-slot:item.job_file="{ item }">
                            <a :href="'http://localhost:8080/ipfs/' + item.job_file" target="_blank" v-if="item.job_file">
                                <v-icon icon="fa fa-file"></v-icon>
                            </a>
                        </template>
                    </v-data-table>
                </v-card-text>
            </v-card>
        </v-container>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.6.4/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/near-api-js@3.0.4/dist/near-api-js.min.js"></script>
    <script src="./main.js"></script>
</body>

</html>